{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="card shadow p-4">
        <h3 class="mb-4 text-center">Complete Your Profile</h3>

        <!-- IMPORTANT: enctype added -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3 text-center">
                <label class="form-label">Profile Picture</label>
                <input type="file" name="profile_picture" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Full Name</label>
                <input type="text" name="full_name" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Department</label>
                <input type="text" name="department" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Passout Year</label>
                <input type="number" name="passout_year" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Register Number</label>
                <input type="text" name="register_number" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Phone</label>
                <input type="text" name="phone" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Current Job</label>
                <input type="text" name="current_job" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Company</label>
                <input type="text" name="company" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Save Profile
            </button>
        </form>
    </div>
</div>

{% endblock %}
